.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    background-color: rgba(0,0,0,0.55);
}
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1200px;
    border: 5px solid #050609;
    border-radius: 7px;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
}

.a{
    height: 150px;
}

.wrapper2 {
    display: flex;
    margin-top: 5px;
    column-gap: 5px;

}

.c {
    height: 150px;
    display: flex;
    width: 32%;
    flex-grow: 1;

}
.wrapper4 {
    flex-wrap: wrap;
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
}
.wrapper3 {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 80%;
}
.f {
    flex-grow: 1;
}

