

.header__1 {
    background: #0F2438;
    height: 36px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header__2 {
    width: 87%;
    display: flex;
    justify-content: space-between;
}

.btn {
    color: white;
}

.btn:hover {
    color: white;
}

.btn_1 {
    margin-right: 50px;
}

.btn_1 img {
    margin-right: 8px;
}

.btn_2 {
    margin-right: 10px;
}

.btn_width {
    font-weight: 500;
    font-size: 14px;
}

.nav_1 {
    /* height: 200px; */
}

.Logo_1 {
    justify-content: center;
    align-items: center;
}

.Logo_1 h1 {
    font-size: 24px;
    line-height: 15px;
    color: #0f2438;
    margin-top: 30px;
}

.Logo_1 p {
    font-size: 12px;
    line-height: 14px;
    color: #0f2438;
}

.logo_2 img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.logo_2 p {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0f2438;
    margin-top: 21px;
}

.logo_2 {
    width: 50%;
    align-items: center;
}

.logo_3 img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.logo_3 {
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
}

.logo_3 p {
    margin-top: 14px;
    font-size: 14px;
    line-height: 16px;
    color: #0f2438;
}

.logo_4 {
    width: 204px;
    height: 30px;
    background-color: #e1efd0;
    align-items: center;
}

.logo_4 p {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-top: 15px;
}

.logo_4 img {
    margin-right: 5px;
    height: 12px;
    width: 12px;
}

.logo_5 h2 {
    font-size: 20px;
    line-height: 23px;
    color: #0f2438;
}

.logo_5 p {
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0f2438;
}

.logo_5 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.nav_2 {
    height: 166px;
}


.Logo__1 {
    position: absolute;
    width: 200px;
    height: 70px;
    left: 20px;
    top: 52px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.media_container {
    width: 37.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.navbar-brand {
    width: 164px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005BB9;
    color: white;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar {
    flex-wrap: nowrap;
}

.form-control {
}

.container-fluid {
}

.nav__1 {
    justify-content: space-between;
    margin-left: 6%;
}

.form-control {
    width: 549px;
    height: 53px;
    border: none;
    background: #F4F5FA;
}

.navbar-brand:hover {
    color: white;
}

.d3 {
    background-color: #005BB9;
}

.btn4 button {
    border: none;
    background-color: white;
}

.btn4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 320px;
}

.Border {
    border: 1px solid #E1E5F8;
    height: 28px;
    display: flex;
    margin-top: 21px;
    margin-left: 25px;
}

.btn4 img {
    margin-right: 5px;
}

.Heart {
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Heart button {
    border: none;
    background-color: white;
}

.Heart img {
    margin-right: 5px;
}

.shop button {
    border: none;
    background-color: white;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
}

.shop {
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lg1 {
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;

}

.navbar-brand1 {
    margin-right: 15px;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005BB9;
    color: white;
}

.form-control1 {
    width: 260px;
    height: 43px;
    border: none;
    background: #F4F5FA;
}

.d4 {
    background-color: #005BB9;
    width: 90px;
    height: 43px;

}

.btn41 {

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn41 button {
    border: none;
    background-color: white;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #0F2438;
}

.lg11 {
    align-items: center;
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
}


.navbar_1 {
    margin-top: 20px;
}

.btn41 img {
    width: 21px;
    height: 21px;
}

.Border1 {
    border: 1px solid #E1E5F8;
    height: 28px;
    display: flex;
    margin-top: -32px;
    margin-left: 10px;

}

.Heart1 {

    display: flex;
    justify-content: center;
    align-items: center;
}

.Heart1 img {
    width: 21px;
    height: 18px;
}

.Heart1 button {
    border: none;
    background-color: white;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #0F2438;

}

.shop1 {

    display: flex;
    justify-content: center;
    align-items: center;

}

.shop1 img {
    width: 22px;
    height: 17px;
}

.shop1 button {
    border: none;
    background-color: white;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #0F2438;
}

.navbar-brand2 {
    margin-right: 10px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005BB9;
    color: white;
}

.form-control12 {
    width: 85%;
    height: 34px;
    border: none;
    background: #F4F5FA;
}

.d5 {
    background-color: #005BB9;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_12 {
    margin-top: 15px;
}

.cnt {

    box-shadow: inset -1px 7px 9px 0 rgb(0 0 0 / 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    margin-top: 30px;
    width: 87%;
    display: flex;
    column-gap: 10px;
}

.carousel {
    width: 75%;
}

.carousel_text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 80%;
}

.carousel_text h5 {
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}

.carousel-control-next {
    width: 7%;
}

.carousel-control-prev {
    width: 7%;

}

.carousel_text p {
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
    text-align: start;
}

.carousel_text h4 {
    font-size: 37px;
    line-height: 43px;
    text-align: start;

    color: #005BB9;
}

.carousel_text h6 {
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.d6 {
    align-items: center;
    margin-top: 10%;
}

.carousel_text button {
    width: 160px;
    height: 49px;
    background-color: #005BB9;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
}

.carousel_text img {
    margin-right: 10%;
}

.carousel-control-prev-icon {
    width: 100%;
    height: 18%;
    background-image: url("image/Group 217.png");
}

.carousel-control-next-icon {
    width: 100%;
    height: 18%;
    background-image: url("image/Group 218.png");
}

.a {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 25%;
}

.b {
    width: 100%;
    height: 50%;
    background-color: #E5E5E5;
    border-radius: 10px;
}
.b h1 {
    margin-left: 5%;
    margin-top: 5%;
    font-size: 18px;
    line-height: 16px;
    color: #0F2438
}

.c {
    width: 100%;
    height: 50%;
    background-color: #E5E5E5;
    border-radius: 20px;
}

.c h1 {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 18px;
    line-height: 16px;
    color: #0F2438
}

.content_1 h1 {
    font-size: 21px;
    line-height: 27px;
    color: #0A1A2C;
}
.content_1 p {
    margin-left: 5%;
    font-size: 15px;
    line-height: 14px;
    color: #525252;
}

.content_2 h1 {
    font-size: 21px;
    line-height: 27px;
    color: #0A1A2C;
}

.content_2 p {
    margin-left: 5%;
    font-size: 15px;
    line-height: 14px;
    color: #525252;
}
.a h2 {
    font-size: 19px;
    line-height: 23px;
    color: #FFB800;
    margin-right: 1%;
}

.a h3 {
    margin-top: 2%;
    font-size: 20px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.a button {
    margin-left: 27%;
    width: 66px;
    height: 66px;
    background-color: #005BB9;
    border-radius: 6px;

}

.img-1 img {
    margin-left: 7%;
    width: 110px;
    margin-top: 17%;
}

.img-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content_1 {
}

.Margin {
    width: 100%;
}

.d_3 {
    align-items: end;
    margin-left: 5%;
}

.bb_4 {
    display: flex;

}
.back_bord {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.back_bord1 {
    width: 87%;
    display: flex;

}
.col-xxl-3 {
    width: 31%;

}
.carousel_1 {
    width: 100%;
}
.bb_1 {
    column-gap: 30px;
}

.dd_a {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}

.dd_a h1 {
    font-size: 30px;
    line-height: 40px;
    color: #0A1A2C;
}

.dd_a p {
    font-size: 18px;
    line-height: 27px;
    color: #0A1A2C;
}

.prev_1 {
    width: 100%;
    height: 50%;
    background-image: url("image/Group 217.png");
}

 .next_1 {
     width: 100%;
     height: 50%;
     background-image: url("image/Group 218.png");
 }

 .dd_a button {
     background-color: #005BB9;
     font-size: 24px;
     line-height: 32px;
     display: flex;
     align-items: center;
     color: #FFFFFF;
 }
 .cc {
     margin-left: 4%;
     margin-top: 3%;
 }

 .aa_1 {
     margin-top: 3%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .back_bord2 {
     width: 86%;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
 }

 .w_1 {
       width: 50%;
}

 .d1 {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 20px;
     line-height: 23px;

 }
 .border_1 {
     border: 2px solid #005BB9;
     box-sizing: border-box;
     border-radius: 6px;
 }

 .col-2, .col-6 {
     margin-right: 2%;
 }


 .block_card {
     width: 24%;
 }

 .block_card image{
     width: 100%;
 }

 .card {
     border: 0 solid rgba(0,0,0,.125);
     justify-content: center;
     align-items: center;
     display: flex;
 }
 .card_1 {
     row-gap: 20px;
     justify-content: space-between;
     display: flex;
     flex-wrap: wrap;
     width: 86%;
 }
 .c__1 img {
     height: 1%;
 }
.c__1 p {
    margin-left: 2%;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
}

.c_1 h1 {
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}

.c_2 h6 {
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.c_2 {
    margin-top: 10%;
    display: flex;
}

.c_2 p {
    margin-left: 2%;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}
.c_3 button {
    width: 160px;
    height: 49px;
    background-color: #005BB9;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.c_3 img {
    margin-right: 4%;

}
.c_3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.c_4 {
    margin-left: 4%;
}

.c__2 h6 {
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}

.c__2 p {
    margin-left: 2%;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.c__2 {
    margin-top: 10%;
    display: flex;
}

.c__3 {
    margin-top: 5%;
    display: flex;
}

.c__3 p {
    margin-left: 2%;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}

.a__2 {
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}

hr {
    size: 10px;
    width: 96%;
}

.col-6, .col-2, .col-3 {
    height: 1%;
}

.d1 {
    font-size: 16px;
}

.block_card1 {
    width: 50%;
}

.image1 {
    width: 100%;
}

.b_t_n {
    color: blue;
    margin-top: 10%;
}
.first_end {

    display: flex;
    justify-content: center;
    align-items: center;
}
.first_end1 {
    margin-top: 5%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 86%;
}
.first_end h1 {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.first_end_img {
    position: relative;
}

.aa1 {
    position: absolute;
    z-index: 98;
}
.aa2 {
    left: 7%;
    position: absolute;
    z-index: 99;
}

.aa3 {
    left: 29.3%;
    position: absolute;
    z-index: 100;
}

.aa4 {
    left: 51.7%;
    position: absolute;
    z-index: 100;
}
.aa5 {
    left: 74%;
    position: absolute;
    z-index: 100;
}

.b_b {
       width: 16%;
       margin-top: 5%;
}
.first_end1_1 {
    column-gap: 10%;
    display: flex;
    width: 86%;
}

.end_back {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    z-index: 99;
    background-color: black;
    width: 100%;
    height: 50%;
}


.end_back1, .end_back p{
    color: white;
}

.first_end1_1 p{
    text-decoration-line: underline;
    color: #005BB9;
}

footer {
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #0C1A2A;
}
.footer_container {
    flex-wrap: wrap;
    padding-top: 30px;
    width: 87%;
    display: flex;
    justify-content: space-between;

}
.footer_section {
    margin-right: 170px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.footer_section ul {
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.section_container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

}

.footer_section a, .callback_link a {
    text-decoration: none;
    color: white;
}


.section_item, .payment p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: white;
    margin-bottom: 14px;
}

.section_header {
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
}

.contact {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.address {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.footer_text {
    margin-right: 30px;
    color: #868DAC;

}

.callback_link {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.callback_form {
    border-radius: 6px;
    border: 1px solid #203246;
}

.callback_form input {
    height: 38px;
    background-color: transparent;
}
.callback_form button {
    background-color: #005BB9;
}

.icons {
    display: flex;
    justify-content: flex-end;
}

.icons a:not(:first-child) {
    margin-left: 55px;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
    width: 87%;
}

.contact > div {
    margin-bottom: 5px;
}
.icons {
    margin-top: 4%;
}

.info {
    margin-top: 2%;
}

















