
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 95vh;
    margin: 10px;
}
.a {
    background: rgba(81,255,22,0.45);
    height: 15%;}

.colum {
    column-gap: 10px;
    row-gap: 10px;
}
.wrapper2 {display: flex;
    height: 100%;
}

.b {
    background: rgba(255,0,142,0.45);
    width: 30%;
}
.bl {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.c {
    background: #0910ff;
    height: 50%;
}
